
*{
  box-sizing: border-box;
  }
  
  img{
      max-width: 100%;
  }
  a{
      text-decoration: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  html{ font-family: sans-serif;}
  .container{
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px;
  }
  body{
    background-color: #f1f1f1;
  }
  /* header */
  .header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f1f1f1;
  }
  .header-logo{
    display: flex;
    align-items: center;
  }
  .header-img{
    padding-right: 25px;
  }
/* .header-logo{margin-right: auto;} */
  .ul-list{
    display: flex;
  align-items: center;

  }
  .nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  
  .nav-list-item:not(:last-child){
  margin-right: 35px;
  }
  .header-input-search{background: url(/img/search.png) no-repeat 95% ; border: 1px solid #000;
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
    width: 355px;
    height: 48px;
   }
   /* form

.main-container{
  display:flex;
}

   .main-form-div{
     display: block;
   }




    .main-form-inp{ 
        height: 20px;}
    .main-form-btn{
        border-radius: 12px;
        background-color: rgb(204, 153, 51);
      padding: 10px 10px;

      }
      .hotel-heading{font-size: 22px;
        font-family: "MullerMedium";
        color: rgb(204, 153, 51);
        line-height: 1.455;
        text-align: left;
       }
        .section-services
        {position: relative;}
    .main-spec-article {
      
        background-image: url("/img/44.png");
        background-repeat: no-repeat;
        height: 540px;
      position: relative;

      }
      .main-spec h3 {font-size: 40px; position:absolute; left: 20px; bottom: 30%;}
      .main-spec p {font-size: 25px; position:absolute; left: 20px; bottom: 20%;}
      .main-spec i, .arrow-img{  vertical-align: middle;} */
      /* about-us */
      .container-about-us{
        padding-top: 67px;
        padding-bottom: 67px;
        
      }
      .container-about-us h2{
        color: #333333;
      }
      .container-about-us p{
        color: #666666;
      }
      /* services */
      .section-services{
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #f1f1f1;
      }
      .services-list{
        display: flex;
     


        
      }
      .services-item{
        flex: 1 1 50%;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 5%;
  
      }
      .services-item:not(:last-child){
        margin-right: 30px;
    
    }

.services-text{
  padding-left: 15px;
  padding-right: 15px ;
}
/* advatange */
.section-advatange{
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f1f1f1;
}
.section-advatange-list{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
.section-advatange-item{
  flex: 1 1 25%;

}
.section-advatange-item p{
  padding-left: 15px;
  padding-right: 15px;}
  .section-live-variables{background-image: url("/img/img8.png");
    background-repeat: no-repeat;
    height: 540px;
    position: relative;}
    
    .section-live-variables-text{font-size: 20px;
      color: aliceblue;
      position: absolute;
      left: 20px;
      bottom: 30%;}

.section-img-variables{ vertical-align: middle;} 
      /* section-live */
      .section-live{
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #f1f1f1;
      }
      .section-live-list{
        display: flex;
      }
      .section-live-item{
  flex: 1 1 75%;
  
      }
      .section-live-item:not(:last-child){
margin-right: 20px;
        
            }